<h1> Meu dicionário de Inglês </h1>

<form #myForm="ngForm" (ngSubmit)='addWord(myForm)'>
  <div>
    <label>Palavra:</label>
    <input type="text" name="word" required [(ngModel)]="newWord.ptWord" #word="ngModel" minlength="1"> 
    <div *ngIf="word.invalid && (word.dirty || word.touched)">
      <p class="required-field" *ngIf="word.errors.required">Campo obrigatório</p>
    </div>
  </div>

  <div>
    <label>Significado:</label>
    <input type="text" name="meaning" required [(ngModel)]="newWord.enMeaning" #meaning="ngModel" minlength="1">
    <div *ngIf="meaning.invalid && (meaning.dirty || meaning.touched)">
      <p class="required-field" *ngIf="meaning.errors.required">Campo obrigatório</p>
    </div>
  </div>

  <input type="submit" value="Salvar" [disabled]="myForm.invalid">
</form>

<div *ngIf='wordsList.length > 0'>
  <div *ngFor="let word of wordsList" class="div-of-word">
    <p>Palavra: {{ word.ptWord }}</p>
    <p>Significado: {{ word.enMeaning }}</p>
  </div>
</div>